/* .teamStats_header {
  display: flex;
  justify-content: center;
}; */

table, th, td {
  border: 1px solid;
  margin: 20px;
}

th, td  {
  padding: 10px;
}

th  {
  background-color: #D3D3D3;
}

.teamStats {
  overflow-x: scroll;
}

.aboveAvg  {
  background-color: green;
}

.belowAvg  {
  background-color: red;
}

.average  {
  background-color: yellow;
}